{% comment %} the 'case when' statement helps the shop owner choose between different types of sections for their page, in this case, the header sections is broken up into 3 different versions, whenever a shop owner chooses one, this case statement will react accordingly. Example: if Header 1 is chosen, the "when HEADER 1" section will activate and only display code and designs that is within that statement and that statement only. {% endcomment %}
{% case section.settings.header_type %}
  {% comment %} Starting Header 1 {% endcomment %}
  {% when 'header1' %}
    <header class="header header1">
      {% comment %} the collection nav works as follows.. if the menu selected in the settings is NOT blank then the following occurs.. the navigation section will display every link listed in the menu using a for loop (For every link in menu create a link element).. Then another if statement checks if there are links inside of a link (If link's links are blank), if they are blank then a normal link list element will display however if it is not blank then another for loop is created for the child links along with the regular link that wouldve been displayed regardless. {% endcomment %}
      <ul class="header1__collections-nav">
        {%- if section.settings.menu != blank -%}
          {%- for link in section.settings.menu.links -%}
            {%- if link.links == blank -%}
            <li class="header1__collection-link">
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
            {%- else -%}
              <li class="header1__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }}<i class="fa-solid fa-chevron-down"></i></a>
                <ul class="collection-link__sub-links">
                  {%- for childlink in link.links -%}
                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </ul>
      {% comment %} if logo image for header has not been selected then shop name will only display in its place. {% endcomment %}
      <div class="header1__logo">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
            {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
              class: 'header__heading-logo',
              widths: '50, 100, 150, 200, 250, 300, 400, 500',
              height: logo_height,
              width: section.settings.logo_width,
              alt: logo_alt
            }}
          {%- else -%}
            {{ shop.name }}
          {%- endif -%}</a>
      </div>
      
      <ul class="header1__collections-nav">
        {%- if section.settings.menu2 != blank -%}
          {%- for link in section.settings.menu2.links -%}
            {%- if link.links == blank -%}
            <li class="header1__collection-link">
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
            {%- else -%}
              <li class="header1__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }}<i class="fa-solid fa-chevron-down"></i></a>
                <ul class="collection-link__sub-links">
                  {%- for childlink in link.links -%}
                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {% comment %} {{ route.cart_url }} is a link url that directly brings you to your shopping cart information {% endcomment %}
        <a href="{{ routes.cart_url }}">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        {% comment %} This if statement asks if the store accounts are enabled, if so, the user icon will show up in the upper right corner and will be attached to a link to the user's account. This has two routes attached, one route directing you to the user account page if you are a logged in customer and the other page prompting you to log in if you are not a logged in customer. {% endcomment %}
        {%- if shop.customer_accounts_enabled -%}
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
            <i class="fa-solid fa-user"></i>
          </a>
        {%- endif -%}
      </ul>
    </header>
  {% comment %} Starting Header 2 {% endcomment %}
  {% when 'header2' %}
    <header class="header header2">
      <div class="header2__logo">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
            {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
              class: 'header__heading-logo',
              widths: '50, 100, 150, 200, 250, 300, 400, 500',
              height: logo_height,
              width: section.settings.logo_width,
              alt: logo_alt
            }}
          {%- else -%}
            {{ shop.name }}
          {%- endif -%}</a>
      </div>
      <ul class="header2__collections-nav">
        {%- if section.settings.menu != blank -%}
          {%- for link in section.settings.menu.links -%}
            {%- if link.links == blank -%}
            <li class="header2__collection-link">
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
            {%- else -%}
              <li class="header2__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }}<i class="fa-solid fa-chevron-down"></i></a>
                <ul class="collection-link__sub-links">
                  {%- for childlink in link.links -%}
                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </ul>
      <div class="header2__collections-nav">
        <a href="{{ routes.cart_url }}">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        {%- if shop.customer_accounts_enabled -%}
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
            <i class="fa-solid fa-user"></i>
          </a>
        {%- endif -%}
      </div>
    </header>
  {% comment %} Starting Header 3 {% endcomment %}
  {% when 'header3' %}
    <header class="header header3">
      <div class="header3__logo">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
            {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
              class: 'header__heading-logo',
              widths: '50, 100, 150, 200, 250, 300, 400, 500',
              height: logo_height,
              width: section.settings.logo_width,
              alt: logo_alt
            }}
          {%- else -%}
            {{ shop.name }}
          {%- endif -%}</a>
      </div>
      <ul class="header3__collections-nav">
        {%- if section.settings.menu != blank -%}
          {%- for link in section.settings.menu.links -%}
            {%- if link.links == blank -%}
            <li class="header3__collection-link">
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
            {%- else -%}
              <li class="header3__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }}<i class="fa-solid fa-chevron-down"></i></a>
                <ul class="collection-link__sub-links">
                  {%- for childlink in link.links -%} 
                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        <a href="{{ routes.cart_url }}">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        {%- if shop.customer_accounts_enabled -%}
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
            <i class="fa-solid fa-user"></i>
          </a>
        {%- endif -%}
      </ul>
    </header>
  {% endcase %}

{% comment %} Schema section displays the tools we are allowing the user to use and have using JSON {% endcomment %}
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "header_type",
      "label": "Type of Header",
      "options": [
        {
          "value": "header1",
          "label": "Header 1"
        },
        {
          "value": "header2",
          "label": "Header 2"
        },
        {
          "value": "header3",
          "label": "Header 3"
        }
      ],
      "default": "header1"
    },    
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "menu2",
      "default": "main-menu",
      "label": "Alternate Menu"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
